.buttons {
  max-width: 100%;
  width: 484px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 6px;
}

.button {
  cursor: pointer;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  text-transform: lowercase;
  border: none;
  border-radius: 44px;
  background: #1986ec;
}
@media (max-width: 600px) {
  .button {
    padding: 15px;
    font-size: 15px;
  }
}