.card {
  padding: 44px;
  max-width: 100%;
  width: 484px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  color: #a0a0a0;
  background: #000;
}
.card__name {
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
}
.card__image {
  height: 200px;
  object-fit: contain;
}
@media (max-width: 600px) {
  .card {
   padding: 22px;
   gap: 22px;
  }
  .card__name {
    font-size: 38px;
  }
  .card__image {
    height: 150px;
  }
}